.account {
    position: relative; /* Make the parent container for absolute positioning */
    background: white;
    border: 2px solid #f2f2f2;
    height: 30px;
    border-radius: 30px;
    padding: 7px;
}

.account-button {
    color: #5a616e;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-tooltip {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #f2f2f2;
    border-radius: 10px;
    background: white;
    color: #5a616e;
    padding: 5px;
    width: 80px;
    box-shadow: 0px 0px 5px #f2f2f2;
    display: none; /* Initially hide the tooltip */
    font-size: small;
    font-family: 'Museo', sans-serif;
}

.account-tooltip::before {
    position: absolute;
    width: 7px;
    height: 7px;
    top: -6px;
    left: 50%;
    transform: translateX(-50%) rotate( -45deg );
    border-top: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    background-color: white;
    content: '';
}

.account:hover > .account-tooltip {
    display: block;
}