.account {
    position: relative; /* Make the parent container for absolute positioning */
    background: white;
    border: 2px solid #f2f2f2;
    height: 30px;
    border-radius: 30px;
    padding: 7px;
}

.account-button {
    color: #5a616e;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account:hover > .account-tooltip {
    opacity: 1;
}