@import url('https://fonts.cdnfonts.com/css/museo');
nav {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

/* Logo */
.nav-logo a img {
    width: 240px;
}

/* Buttons */
.nav-buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 10px; /* Round around corners */
    display: flex;
    height: 45px;
    align-items: center;
    border: 2px solid #f2f2f2;
    padding: 0 6px;
}

.nav-buttons a {
    font-size: large;
    font-family: 'Museo', sans-serif;
    font-weight: bold;
    padding: 6px 25px;
    border-radius: 10px;
    text-decoration: none;
    color: #5a616e;
}

.nav-buttons a.active {
    background-color: #f2f2f2;
    color: #5a616e;
}

.nav-buttons a:hover {
    background-color: #08a45c;
    box-shadow: 0px 0px 4px #08a45c;
    color: white;
}

/* Right corner (accounts and search-bar) */
.right-corner {
    display: flex;
    float: right;
    align-items: center;
}

.right-corner div {
    background: white;
    border: 2px solid #f2f2f2;
    height: 30px;
    border-radius: 30px;
    padding: 7px;
}

.right-corner div a {
    color: #5a616e;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-corner .search-bar {
    margin-right: 20px;
}

.right-corner .search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #5a616e;
    font-size: 16px;
    transition: 0.7s;
    width: 0;
    line-height: 30px;
}

.right-corner .account {
    position: relative; /* Make the parent container for absolute positioning */
}

.right-corner .account-tooltip {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #f2f2f2;
    border-radius: 10px;
    background: white;
    color: #5a616e;
    padding: 5px;
    width: 80px;
    box-shadow: 0px 0px 5px #f2f2f2;
    display: none; /* Initially hide the tooltip */
    font-size: small;
    font-family: 'Museo', sans-serif;
}

.right-corner .account-tooltip::before {
    position: absolute;
    width: 7px;
    height: 7px;
    top: -6px;
    left: 50%;
    transform: translateX(-50%) rotate( -45deg );
    border-top: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    background-color: white;
    content: '';
}

.search-bar:hover > .search-text {
    width: 150px;
    padding: 0 6px;
}

.account:hover > .account-tooltip {
    display: block;
}

.search-bar.active > .search-text {
    width: 150px;
    padding: 0 6px;
}